<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">   <!-- the following codes are meant to be seperate -->
  {{ message }}    <!-- therefore, copy and past each section seperately -->
</div>

  <script>
    var app = new Vue({
  el: '#app',
  data: {
    message: 'Welcome to my Webpage!'
  }
})
  </script>
<!--end of first function -->

<div id="app-2">
  <span v-bind:title="message">
    Hover your mouse this message for a few seconds
    to see when you first accessed this site!
  </span>
</div>

<script>
var app2 = new Vue({
  el: '#app-2',
  data: {
    message: 'This page was loaded on ' + new Date().toLocaleString()
  }
})
</script>
<!--end of second function -->

<div id="app-3">
  <span v-if="seen">Magic trick</span>
</div>

<script>
  var app3 = new Vue({
  el: '#app-3',
  data: {
    seen: true
  }
})
</script>

<!--end of third function -->

<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>

<script>
  var app4 = new Vue({
    el: '#app-4',
    data: {
      todos: [
        { text: 'First line' },
        { text: 'Second line' },
        { text: 'Third line' }
      ]
    }
  })
  </script>
<!--end of fourth function -->
</body>
</html>
