body {
  background-color: lightblue;
}

h1 {

  color: black;
  text-align: center;
  display: block;

}

p {
  font
  font-size: 20px;
}

<ul>
  <li><a href="default.asp">Home</a></li>
  <li><a href="news.asp">News</a></li>
  <li><a href="contact.asp">Contact</a></li>
  <li><a href="about.asp">About</a></li>
</ul>
